body {
    font-family:  sans-serif;
    font-style : normal;
    font-weight: 400;
    font-size  : 18px;
    background-color     : #E5E5E5;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top   : 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top   : 0;
    margin-bottom: 0;
    padding-left : 0;
}

img {
    display  : block;
    max-width: 100%;
}

/*======= Components ========*/

.container {
    width        : 1280px;
    margin-left  : auto;
    margin-right : auto;
    padding-left : 189px;
    padding-right: 15px;
}

.section {
    padding-top   : 94px;
    padding-bottom: 94px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color          : inherit;
}

/*======= End of Components ========*/

/*=============Header=============*/

.header {
}

.header-container {
    display    : flex;
    align-items: center;
}

.header-nav {
    display    : flex;
    align-items: center;
}

.menu {
    display    : flex;
    align-items: center;
}

.menu-link-contacts {
    display    : flex;
    align-items: center;
    margin-left: auto;
}

.mail-button {
    margin-right: 50px;
}



.header-nav .link-logo {
    margin-right: 93px;
}

.menu-link-list:not(:last-child) {
    margin-right: 50px;
}




.menu-link,
.header-button,
.tel-link-header {
    display       : inline-block;
    padding-top   : 32px;
    padding-bottom: 32px;
    font-weight   : 500;
    line-height   : 1.14;
    letter-spacing: 0.02em;
}

.menu-link:visited {
    color: var(--primary-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}



.menu-icons {
    margin-right: 10px;
}

.scanning-button {
    display    : flex;
    align-items: center;
}

.tel-link-header {
    display    : flex;
    align-items: center;
}

.header-button,
.tel-link-header {
    color: var(--secondary-text-color);
}

.menu-icons {
    fill: var(--secondary-text-color);
}

.header-button:hover,
.header-button:focus {
    color: var(--accent-color);
}

.header-button:hover .menu-icons,
.header-button:focus .menu-icons {
    fill: var(--accent-color);
}

.tel-link-header:hover,
.tel-link-header:focus {
    color: var(--accent-color);
}

.tel-link-header:hover .menu-icons,
.tel-link-header:focus .menu-icons {
    fill: var(--accent-color);
}

/*=============End Header=============*/

/*=============Hero=============*/
.hero {
    background-color: var(--hero-bg);
    text-align      : center;
    padding-top     : 200px;
    padding-bottom  : 200px;
}

.overlay {
    height      : 600px;
    width       : 1600px;
    margin-left : auto;
    margin-right: auto;

    background-image: linear-gradient(var(--gradient-hero)), url('../images/hero/Img.jpg');

    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
}

.hero .container {
    width: 696px;
}

.hero-title {
    font-weight: 900;
    font-size  : 44px;
    line-height: 1.36;

    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom : 30px;
    color         : var(--title-text-color);
}

.modal-btn {
  
    font-weight: bold;
    font-size  : 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align    : center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #487996;


    /* Inside Auto Layout */

    flex     : none;
    order    : 0;
    flex-grow: 0;
    margin   : 0px 10px;
}

.modal-btn {
    cursor          : pointer;
 display        : flex;
flex-direction : row;
justify-content: center;
align-items    : center;
padding        : 16px 32px;

position: absolute;
width   : 277px;
height  : 56px;
left    : 582px;
top     : 1154px;

background: #F5F5FA;
box-shadow: -10px -10px 20px #FFFFFF,
10px 10px 20px rgba(72, 121, 150, 0.1),
5px 5px 10px rgba(72, 121, 150, 0.25),
-5px -5px 10px #FFFFFF;
border-radius: 30.5px;
}

/*=============End Hero=============*/


/*=============scanning process=============*/


.our-team-name,
.our-team-specialty {
    font-weight: 500;
    font-size  : 16px;
    line-height: 1.19;
    /* identical to box height */

    text-align    : center;
    letter-spacing: 0.03em;
    margin-bottom : 10px;
}

.our-team-specialty {
    font-weight   : 400;
    letter-spacing: 0.03em;
    margin-bottom : 16px;
    color         : var(--secondary-text-color);
}

.our-team-list {
    margin-bottom: 50px;
}

.scanning-process-blocks {
    display    : flex;
    flex-wrap  : wrap;
    margin-top : calc(-1 * var(--margin));
    margin-left: calc(-1 * var(--margin));
}

.our-team-persons-wrapper {
    flex-basis : calc(100% / 4 - 30px);
    margin-top : var(--margin);
    margin-left: var(--margin);
    background : var(--title-text-color);
    /* material shadow v1 */

    box-shadow: var(--box-shadow);
}

.our-team-thumb {
    padding: 30px;
}



/*============= End Our team=============*/

/*============= Our clients==============*/
.clients-list {
    display    : flex;
    margin-top : calc(-1 * var(--margin));
    margin-left: calc(-1 * var(--margin));
}

.clients-list-items {
    flex-basis : calc(100% / 4 - 30px);
    margin-top : var(--margin);
    margin-left: var(--margin);
}

.clients-links {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 170px;
    height         : 92px;
    border         : 1px solid var(--social-links);
    border-radius  : 4px;
}

.clients-links-icons {
    fill: var(--social-links);
}

.clients-links:hover,
.clients-links:focus {
    border       : 1px solid var(--accent-color);
    border-radius: 4px;
}

.clients-links:hover .clients-links-icons,
.clients-links:focus .clients-links-icons {
    fill: var(--accent-color);
}

/*============= Our clients==============*/

/*=============Footer=============*/

.footer {
    padding-top     : 60px;
    padding-bottom  : 60px;
    background-color: var(--background-color);
}

.adress-title {
    font-style: inherit;
    margin-top: 20px;
}

.adress-link {
    line-height: 1.71;
    /* or 171% */

    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.adress-list-link:not(:last-child) {
    margin-bottom: 9px;
}

.mail,
.tel {
    color: var(--mail-color);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--accent-color);
}

.social-link-list {
    justify-content: center;
}

.social-link {
    background-color: var(--social-links-bg-f);
}

.social-link-icon.f-link-color {
    fill: var(--title-text-color);
}

.position {
    display    : flex;
    align-items: baseline;
}

.footer-contacts {
    margin-right: 70px;
}

.join {
    font-weight   : 700;
    line-height   : 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color         : var(--title-text-color);
    margin-bottom : 20px;
}

.social-link-item:not(:last-child) {
    margin-right: 10px;
}

/*=============End Footer=============*/